@model List<DemoRedisCache.Entities.Person>

<h2>Indexing</h2>

<table>
	@using (Html.BeginForm())
	{
		<tr>
			<td width="70">ID</td>
			<td>@Html.TextBox("firstName")</td>
			<td>@Html.TextBox("lastName") <input type="submit" value="Filtrovat" /></td>
		</tr>
	}

	@foreach (var person in Model)
	{
		<tr>
			<td>@person.Id</td>
			<td>@person.FirstName</td>
			<td>@person.LastName</td>
		</tr>
	}
</table>